.idea/
Builds/any/
Builds/arm*/
Builds/x*/
Trash/

bin/
obj/

NibblePoker.Packaging.ListComPort/Trash/
NibblePoker.Packaging.ListComPort/*.msi
NibblePoker.Packaging.ListComPort/*.wixobj
NibblePoker.Packaging.ListComPort/*.wixpdb
NibblePoker.Packaging.ListComPort/*.bat

Packages/

*.exe
*.pbd
*.so
*.zip
*.url

notes.txt
