.idea/
.vs/

Builds/any/
Builds/arm*/
Builds/x*/
Trash/

bin/
obj/

NibblePoker.Packaging.ListComPort/Trash/
NibblePoker.Packaging.ListComPort/*.wixobj
NibblePoker.Packaging.ListComPort/*.wixpdb
NibblePoker.Packaging.ListComPort/*.bat
NibblePoker.Packaging.ListComPort/AppX/

Packages/

*.exe
*.pbd
*.so
*.zip
*.url
*.crt
*.pem
*.msi

notes.txt
