<?xml version="1.0" encoding="utf-8"?>

<!-- Imports shared and platform-dependant variables -->
<?include Variables.wxi?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<!--
	  See: https://wixtoolset.org/documentation/manual/v3/xsd/wix/product.html
	-->
	<Product Id="*" Name="$(var.ProductName)" Language="1033" Version="1.0.0.0"
	         Manufacturer="$(var.ProductManufacturer)" UpgradeCode="$(var.ProductUpgradeCode)">
		
		<!--
		  Package's properties as shown in Explorer, COM through the IStream interface and ???.
		  See: https://wixtoolset.org/documentation/manual/v3/xsd/wix/package.html
		  
		  The "InstallerVersion" is changed from "200" to "500" since Windows Installer 5.0 and this software
		    both require at least Windows to run.
		  See: https://learn.microsoft.com/en-us/windows/win32/msi/released-versions-of-windows-installer
		-->
		<Package Description="$(var.PackageDescription)" Comments="$(var.PackageComments)"
		         InstallerVersion="500" Compressed="yes" Platform="$(var.PackagePlatform)" />
		
		<!--
		  Prevents downgrades.
		  See: https://wixtoolset.org/documentation/manual/v3/xsd/wix/majorupgrade.html
		-->
		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		
		<Media Id="1" Cabinet="lscom.cab" EmbedCab="yes" />
		
		<!--
		  Icon used for the entry in the control panel's "Programs and Features" section.
		  See: https://wixtoolset.org/documentation/manual/v3/xsd/wix/icon.html
		-->
		<Icon Id="IconMain" SourceFile="..\lscom-v2-text-01.ico" />
		
		<!--
		  Binds the Icon "IconMain" to the aforementioned control panel's section
		  See:
		    * https://wixtoolset.org/documentation/manual/v3/xsd/wix/property.html
		    * https://learn.microsoft.com/en-us/windows/win32/msi/property-table?redirectedfrom=MSDN
		-->
		<Property Id="ARPPRODUCTICON" Value="IconMain" />
		
		<WixVariable Id="WixUIBannerBmp" Value="WixUIBannerBmp.png" />
		<WixVariable Id="WixUIDialogBmp" Value="BannerSide.png" />
		<WixVariable Id="WixUIExclamationIco" Value="WixUIExclamationIco.png" />
		<WixVariable Id="WixUIInfoIco" Value="WixUIInfoIco.png" />
		<WixVariable Id="WixUINewIco" Value="WixUINewIco.png" />
		<WixVariable Id="WixUIUpIco" Value="WixUIUpIco.png" />
		
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="$(var.PlatformProgramFilesFolder)" Name="PFiles">
				<Directory Id="ORGANIZATIONFOLDER" Name="NibblePoker">
					<Directory Id="INSTALLFOLDER" Name="lscom">
						<Directory Id="LICENSESFOLDER" Name="Licenses"></Directory>
					</Directory>
				</Directory>
			</Directory>
		</Directory>
		
		<ComponentGroup Id="ProductComponentGroup">
			<Component Id="Software" Guid="2b0b66d2-fc39-485b-baee-e5b0da8142a0" Directory="INSTALLFOLDER" Feature="FeatureExecutables" Win64="$(var.Win64)">
				<File KeyPath="yes" Source="$(var.FilePathExecutable)" Name="lscom.exe" />
			</Component>
			<Component Id="Licenses" Guid="5aa34a6f-2b5c-4544-8979-a20d6c1d3f3c" Directory="LICENSESFOLDER" Feature="FeatureLicenses" Win64="$(var.Win64)">
				<File Source="$(var.FilePathLicense)" Name="NibblePoker.Application.ListComPort.txt" />
				<File Source="$(var.FilePathLicense)" Name="NibblePoker.Library.Arguments.txt" />
				<File Source="$(var.FilePathLicense)" Name="NibblePoker.Library.ComPortHelpers.txt" />
				<File Source="$(var.FilePathLicense)" Name="NibblePoker.Library.RegistryHelpers.txt" />
			</Component>
			<Component Id="Registry" Guid="73b5468a-97b3-4469-a95d-70330ed229e6" Directory="INSTALLFOLDER" Feature="FeatureRegistryPath" Win64="$(var.Win64)">
				<Environment Id="UpdatePath" Name="PATH" Part="last" Action="set" Permanent="yes" System="yes" Value="[INSTALLFOLDER]" />
				<CreateFolder Directory="INSTALLFOLDER" />
			</Component>
		</ComponentGroup>
		
		<!--
		  Declares some features shown in the "CustomizeDlg" to which components are bound by using the feature's ID.
		  See: https://wixtoolset.org/documentation/manual/v3/xsd/wix/feature.html
		-->
		<Feature Id="FeatureExecutables" Title="Executables"
		         Description="Installs &quot;lscom.exe&quot;."
		         Level="1" Absent="disallow">
		</Feature>
		<Feature Id="FeatureLicenses" Title="Licenses Files"
		         Description="Installs required licenses files in accordance to their terms of use."
		         Level="1" Absent="disallow">
		</Feature>
		<Feature Id="FeatureRegistryPath" Title="Add to PATH"
		         Description="Allows the program to be called from a terminal by adding the installation directory to the %PATH% environment variable."
		         Level="1" Absent="allow">
		</Feature>
		
		<UI Id="UserInterface">
			<Property Id="WIXUI_INSTALLDIR" Value="TARGETDIR" />
			<Property Id="WixUI_Mode" Value="Custom" />
			
			<TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
			<TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="9" Bold="yes" />
			<TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />
			
			<Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
			
			<DialogRef Id="ErrorDlg" />
			<DialogRef Id="FatalError" />
			<DialogRef Id="FilesInUse" />
			<DialogRef Id="MsiRMFilesInUse" />
			<DialogRef Id="ProgressDlg" />
			<DialogRef Id="PrepareDlg" />
			<DialogRef Id="UserExit" />
			
			<!-- https://qiita.com/tohshima/items/2253710cf82be9a2d386 -->
			
			<Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>
			
			<!-- Welcome -> end message -> install on exit -> install -> end message -->
			<!--<Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="ExitDialog">NOT Installed</Publish>-->
			
			<!-- Welcome -> end dialog -> install -> end message -->
			<Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="CustomizeDlg"></Publish>
			
			<Publish Dialog="CustomizeDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg"></Publish>
			<Publish Dialog="CustomizeDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg"></Publish>
			
			<Publish Dialog="MaintenanceWelcomeDlg" Control="Next" Event="NewDialog" Value="MaintenanceTypeDlg">1</Publish>
			
			<Publish Dialog="MaintenanceTypeDlg" Control="ChangeButton" Event="NewDialog" Value="CustomizeDlg">1</Publish>
			<Publish Dialog="MaintenanceTypeDlg" Control="RepairButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
			<Publish Dialog="MaintenanceTypeDlg" Control="RemoveButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
			<Publish Dialog="MaintenanceTypeDlg" Control="Back" Event="NewDialog" Value="MaintenanceWelcomeDlg">1</Publish>
			
			<Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="CustomizeDlg" Order="1">NOT Installed OR WixUI_InstallMode = "Change"</Publish>
			<Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg" Order="2">Installed AND NOT PATCH</Publish>
			<Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="3">Installed AND PATCH</Publish>
		</UI>
		<UIRef Id="WixUI_Common" />
	</Product>
</Wix>